/* Style for the navigation bar */
nav {
    background: linear-gradient(to right, #64b5f6, #ffffff);
    padding: 10px; 
    text-align: center; 
    width: 100%; 
    box-sizing: border-box; 
}

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

nav ul li {
    margin-right: 10px; 
}

nav ul li a {
    text-decoration: none; 
    color: #333; 
    padding: 5px 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

nav ul li a:hover {
    background-color: #ddd; 
}

nav ul li a.active {
    background-color: #007bff; 
    color: #fff; 
}






body {
    background: linear-gradient(to right, #64b5f6, #ffffff);
    color: #333; 
    
}






/* Style for the main heading */
h1 {
    font-size: 36px; 
    color: #333; 
    margin-bottom: 10px; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    font-weight: bold; 
}

/* Style for the subheading */
h3 {
    font-size: 24px; 
    color: #555; 
    margin-bottom: 20px; 
    text-align: center; 
}


/* Style for the header */
header {
    text-align: center; 
}

/* Style for the main content */
#main-content {
    text-align: center; 
    margin-top: 50px; 
}

/* Style for the photo */
#photo {
    width: 200px; 
    height: auto; 
    border-radius: 50%; 
    margin-bottom: 10px; 
}


.image {
    width: 80%; 
    max-width: 160px; 
    display: block; 
    margin: 0 auto; 
}



  
/* Style for the contact section */
#contact-content {
    padding: 40px;
    text-align: center;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.contact-details {
    text-align: left;
}

.contact-details h2 {
    margin-bottom: 20px;
}

.contact-details p {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    color: #333; 
    margin: 5px 0; 
}


.social-links {
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
}

.social-links img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}




/* Style for the blog content */
#blog-content {
    display: none;
    background-color: #f8f8f8; 
    padding: 20px; 
}

article {
    background-color: #fff; 
    padding: 20px;      
    margin-bottom: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

article h2 {
    color: #333; 
    font-size: 24px; 
    margin-bottom: 10px; 
}

article p {
    color: #666; 
    font-size: 16px; 
    line-height: 1.6; 
}       